extends ../layout

block content
  .container
            .pt-5.pb-1.text-center
            h2 Register Project
            hr.mt-5.featurette-divider
            .col-md-12
            form.needs-validation(action='/admin/project_new', method='POST')
                p  
                h4.mb-3 Project Info
                .mb-3
                label(for='name') Project Name
                input#name.form-control(type='text', placeholder='Project Name', name='name')
                .mb-3
                .row
                .col-sm-6
                label(for='rrn') Start Date
                input#start_date.form-control(type='date', name='start_date')
                .col-sm-6
                label(for='rrn') End Date
                input#end_date.form-control(type='date', name='end_date')
                .mb-3
                label(for='pm') PM number
                input#pm.form-control(type='text', name='pm', placeholder='PM Employee_numbers')
                .mb-3
                label(for='order') Order ID
                input#order.form-control(type='text', name='order', placeholder='Order ID')
                hr.featurette-divider
                .row
                .col-sm-5
                .col-sm-5
                .col-sm-2
                    button.btn.btn-primary.btn-lg.btn-block(type='submit') Register

