hr.featurette-divider

.row.mb-2
  .col-md-6
    .card.flex-md-row.mb-4.box-shadow.h-md-250
      .card-body.d-flex.flex-column.align-items-start
        strong.d-inline-block.mb-2.text-primary Development
        h3.mb-0
          a.text-dark(href='#') Development news 
          
        p.card-text.mb-auto
          | News and information on Web & App development
          
          h6  Development situation - Developing E-mart shopping mall web page
          h6  Development situation - Editing ollehKT webpage 
        
       
      .col-md-1
      <img src=" https://media.istockphoto.com/vectors/programming-flat-design-concept-vector-id542702968" width="400" height="300" align="center"><br>
  .col-md-6
    .card.flex-md-row.mb-4.box-shadow.h-md-250
      .card-body.d-flex.flex-column.align-items-start
        strong.d-inline-block.mb-2.text-success Design
        h3.mb-0
          a.text-dark(href='#') Design News
        
        p.card-text.mb-auto
          | News and information on Web & App Design 
          <br>
          h6  Golden Web Awards 2018 
          h6  Recruiting new recruits 2018-05-01 ~ 2018-07-01 
        
       
      .col-md-1
      <img src=" https://anyang.greenart.co.kr/upimage/subject/portfolio/2018/NE9SEVN6YHG8LJL2.jpg" width="400" height="300" align="center"><br>