.jumbotron.p-3.text-white.rounded.bg-dark.main-image
  img(src='images/main.jpg', alt='mainpage image' )
  .col-md-12.mt-4  
    h1.display-4.font-italic Prompt Solution Co., Ltd.
    p.lead.my-3
      | Prompt Solution Co., Ltd. is a SI company with 100 employees. 70 developers except 10 marketing management and research and development staff are performing about 10 projects per month.
    p.lead.mb-3
      a.text-white.font-weight-bold(href='#') Continue reading...
