hr.featurette-divider

.row.featurette
  .col-md-9
    p 
    h2.featurette-heading
      | 한국전력공사  
      span.text-muted Korea Electric Power Corporation(KEPCO)
      <br>
      <br>
    p.lead
      .row.mb-2
        .col-md-6
       
          h5 KEPCO Web page의 제공 기능 안내
          <br>
          h6  회사소개 / 정보공개 / 사이버지점 / 기업센터 / IR센터 / 홍보센터 
          h6  지식센터 / 지속가능경영 / 열린경영 / 경영공시 
          h6  로그인 / 고객지원 / 전국사업소 / 언어번역 / 검색 / 지도 
          <br>
          <br>
          <br>
        .col-md-6
       
          h5 올레KT를 효율적으로 이용할 수 있는 Web page 
          <br>
          <br>
          h5  바로가기 서비스 제공과 전력 수급 현황 즉시 확인 가능 
          <br>
          h6  요금조회 / 특허경영플랫폼 / 에너지밸리플라자 / 캡코크라우드IDEA응모
          h6  신청업무찾기 / 통합포털 / 분산전원 연계정보 / 전기차충전서비스 
  .col-md-3
    <img src=" http://mblogthumb1.phinf.naver.net/MjAxNzExMzBfMTcg/MDAxNTEyMDE0MTU5NzAy.PLFND1MIMBS5F1o8vMd7QHTjKvdoHYeyBmkHCyb6P18g.AKBBfvCMtOZfbybzY8z-BYmLVRSy53tGLrKL3jTP6Fgg.PNG.beads365/2.png?type=w800" width="300" height="300" align="center"><br>

hr.featurette-divider

.row.featurette
  .col-md-9
    p
    h2.featurette-heading
      | 올레KT  
      span.text-muted Olleh kt
      <br>
      <br>
    p.lead
      .row.mb-2
        .col-md-6
       
          h5 올레KT Web page의 제공 기능 안내
          <br>
          h6  마이페이지 / 상품서비스 / 멤버십 / 이벤트 / 고객지원 / shop / 혜택
          h6  로그인 / 회원가입 / 간편조회 / 스마트톡상담 
          h6  간편가입 / 요금조회 / 소액결제 / 요금제변경 /  해외로밍 / 회사소개 
          <br>
          <br>
          <br>
        .col-md-6
       
          h5 올레KT를 효율적으로 이용할 수 있는 Web page 
          <br>
          <br>
          h5  상품서비스를 이용하는 고객을 위해 다양한 혜택과 서비스를 제공
          <br>
          h6  해외로밍 / kt번호변경서비스 등 이용가능
          h6  진행중인 이벤트 참여가능 
          
  .col-md-3
    <img src="http://pds24.egloos.com/pds/201204/18/28/c0019328_4f8dbcc7adeca.jpg" width="300" height="300" align="center"><br>

hr.featurette-divider

.row.featurette
  .col-md-9
    p
    h2.featurette-heading
      | 명지대학교 도서관  
      span.text-muted Myongji University Library App
      <br>
      <br>
    
      
    p.lead
      .row.mb-2
        .col-md-6
       
          h5 명지대학교 도서관 모바일 앱 제공 기능 안내
          <br>
          h6  도서관 소장,전자자료 검색 / 모바일 열람증
          h6  시설/좌석 예약 및 현황 확인 / 도서정보 QRCode 및 Barcode검색
          h6  통합 E-Book 기능 / 공지사항 / My Library
          <br>
          <br>
          <br>
        .col-md-6
       
          h5 명지대학교의 도서관을 효율적으로 이용할 수 있는 Application
          <br>
          h6 다양한 ebook, 논문, 소장 자료 이용가능 
          h6 App을 이용해 무료 배포 
  .col-md-3
    <img src="https://image.winudf.com/v2/image/a3IuYWMubWpsaWIubGlicmFyeV9zY3JlZW5fMl8xNTE5MjI1NDE1XzA4Mw/screen-2.jpg?h=800&fakeurl=1&type=.jpg" width="300"  height="300" align="center"><br>
