.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") Prompt Solution
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') Signin
            li.nav-item
              a.nav-link(href='/users/new') Signup
          else
            if (currentUser.manager || currentUser.dept_id == 801001)
              li.nav-item
                a.nav-link(href="/employees/") Employee Management
            li.nav-item
              a.nav-link(href="/projects/") Project Management
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= currentUser.ID
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href=`/users/${currentUser.employee_number}/edit`) Profile Settings
                a.dropdown-item(href=`/users/${currentUser.employee_number}/changePwd`) Change Password         
            li.nav-item
              a.nav-link(href='/signout') Signout
        
          
