doctype html
html
  head
    title Project
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js', type='text/javascript', charset='utf8')
  body
    block top-nav
      include ./includes/topnav
    block hero-unit
      .jumbortron
        if flashMessages
          each texts, type in flashMessages
            .container
              .alert.alert-dismissible.fade.show(class=`alert-${type}`)
                each msg in texts
                  | #{msg}
                button.close(type='button', data-dismiss='alert', aria-label='close')
                  span(aria-hidden='true') &times;
    block content

    block footer
    //-   include ./includes/footer