extends layout

block content
  .container
    .jumbtron
      .clearfix
        form.form-signin(action='/signin', method='POST')
          h3.form-signin-heading Signin
          label.sr-only(for='email') Email address
          input(
            type='email', id='email', name='id', class='form-control', 
            placeholder='Email address', required, autofocus
          )
          label.sr-only(for='password') Password
          input(
            type='password', id='password', name='password', class='form-control', 
            placeholder='Password', required, autofocus
          )
          button.btn.btn-primary.btn-block(type='submit') Signin

          div.notice_signup
            p
            | if you do not have an account &emsp;&emsp;&emsp;
            button.btn.btn-light.signup(type='button') Sign Up

    .jumbotron
    .jumbotron
    .jumbotron