extends layout

block content
  .container
    .jumbtron
      .clearfix
        form.form-signin(action='/signin', method='POST')
          h3.form-signin-heading Signin
          label.sr-only(for='id') ID
          input(
            type='text', name='id', class='form-control', 
            placeholder='ID', required, autofocus
          )
          label.sr-only(for='password') Password
          input(
            type='password', id='password', name='password', class='form-control', 
            placeholder='Password', required, autofocus
          )
          button.btn.btn-primary.btn-block(type='submit') Signin

          div.sub
-           a(href='/users/new') Signup
            