extends ../layout

block content
  .container

    h1
      center.mt-5 Evaluation Form
    h4
      center.mt-4 Business Performance & Communication
    h4
      center.mt-4
        | Prompt Solution Co., Ltd.
        br
    form(method='post', action='')
      hr.mt-5.mb-4
      p
        | The purpose of the questionnaire is to identify improvements in officers and employees who work in the Prompt Solution Co., Ltd.
      p
        | Please answer them carefully for the purposes stated above.
      p.mt-4
      hr.mt-5.mb-4
      h3 Project
      p.mt-4
        .row.ml-3.form-labels
          h6.col-md-2 Project ID:
          .col-md-5
            input#survey-form-project-id.form-control(type='text', value='eg.12345678', readonly='')
      p.mt-2
        .row.ml-3.form-labels
          h6.col-md-2 Project Name:
          .col-md-5
            input#survey-form-project-name.form-control(type='text', value='DBProgramming Project', readonly='')
      hr.mt-5.mb-4
      h3 Your Profile
      p.mt-4
        .row.ml-3.form-labels
          h6.col-md-2 Cilent Number:
          .col-md-5
            input#survey-form-employee-id.form-control(type='text', value='eg.12345678', readonly='')
      p.mt-2
        .row.ml-3.form-labels
          h6.col-md-2 Client Name:
          .col-md-5
            input#survey-form-employee-name.form-control(type='text', value='Matilda', readonly='')
      hr.mt-5.mb-4
      h3.mt-5 Business Performance
      p
        table.table.table-hover.business-performance-table
          thead
            tr(align='CENTER')
              th(width='50%')
              th(width='8%')
                b
                  | Strongly
                  br
                  | disagree
              th(width='8%')
                b Disagree
              th(width='8%')
                b
                  | Neither
                  br
                  | agree
                  br
                  | nor
                  br
                  | disagree
              th(width='8%')
                b Agree
              th(width='8%')
                b
                  | Strongly
                  br
                  | agree
          tbody
            tr(align='CENTER')
              td(align='LEFT')
                | 1. Appropriateness of possession and development plan of development manpower and development equipment
              td
                input(type='RADIO', name='appropriateness', value='1')
              td
                input(type='RADIO', name='appropriateness', value='2')
              td
                input(type='RADIO', name='appropriateness', value='3')
              td
                input(type='RADIO', name='appropriateness', value='4')
              td
                input(type='RADIO', name='appropriateness', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 2. The level of technology possessed by the host organizations
              td
                input(type='RADIO', name='technology', value='1')
              td
                input(type='RADIO', name='technology', value='2')
              td
                input(type='RADIO', name='technology', value='3')
              td
                input(type='RADIO', name='technology', value='4')
              td
                input(type='RADIO', name='technology', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 3. Technological development goals and development methods, appropriateness of development period
              td
                input(type='RADIO', name='development', value='1')
              td
                input(type='RADIO', name='development', value='2')
              td
                input(type='RADIO', name='development', value='3')
              td
                input(type='RADIO', name='development', value='4')
              td
                input(type='RADIO', name='development', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 4. Fulfillment of Information Survey on Related Technologies and Market Trends
              td
                input(type='RADIO', name='fulfillment', value='1')
              td
                input(type='RADIO', name='fulfillment', value='2')
              td
                input(type='RADIO', name='fulfillment', value='3')
              td
                input(type='RADIO', name='fulfillment', value='4')
              td
                input(type='RADIO', name='fulfillment', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 5. Appropriateness of project cost and rationality of execution plan
              td
                input(type='RADIO', name='appropriateness', value='1')
              td
                input(type='RADIO', name='appropriateness', value='2')
              td
                input(type='RADIO', name='appropriateness', value='3')
              td
                input(type='RADIO', name='appropriateness', value='4')
              td
                input(type='RADIO', name='appropriateness', value='5')
            
        br
        br
      hr.mt-5.mb-4
      h3.mt-5 Communication
      p
        table.table.table-hover.business-performance-table
          thead
            tr(align='CENTER')
              th(width='50%')
              th(width='8%')
                b
                  | Strongly
                  br
                  | disagree
              th(width='8%')
                b Disagree
              th(width='8%')
                b
                  | Neither
                  br
                  | agree
                  br
                  | nor
                  br
                  | disagree
              th(width='8%')
                b Agree
              th(width='8%')
                b
                  | Strongly
                  br
                  | agree
          tbody
            tr(align='CENTER')
              td(align='LEFT')
                | 1. Ability to easily explain to customers or team members
              td
                input(type='RADIO', name='freedom', value='1')
              td
                input(type='RADIO', name='freedom', value='2')
              td
                input(type='RADIO', name='freedom', value='3')
              td
                input(type='RADIO', name='freedom', value='4')
              td
                input(type='RADIO', name='freedom', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 2. Ability to describe implementation and interface separately
              td
                input(type='RADIO', name='demand', value='1')
              td
                input(type='RADIO', name='demand', value='2')
              td
                input(type='RADIO', name='demand', value='3')
              td
                input(type='RADIO', name='demand', value='4')
              td
                input(type='RADIO', name='demand', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 3. Ability to explain spheres and abstracts separately
              td
                input(type='RADIO', name='creative', value='1')
              td
                input(type='RADIO', name='creative', value='2')
              td
                input(type='RADIO', name='creative', value='3')
              td
                input(type='RADIO', name='creative', value='4')
              td
                input(type='RADIO', name='creative', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 4. Ability to describe details and concepts separately
              td
                input(type='RADIO', name='stimulat', value='1')
              td
                input(type='RADIO', name='stimulat', value='2')
              td
                input(type='RADIO', name='stimulat', value='3')
              td
                input(type='RADIO', name='stimulat', value='4')
              td
                input(type='RADIO', name='stimulat', value='5')
            tr(align='CENTER')
              td(align='LEFT')
                | 5. Listen to opinions without self-defense
              td
                input(type='RADIO', name='stimulat', value='1')
              td
                input(type='RADIO', name='stimulat', value='2')
              td
                input(type='RADIO', name='stimulat', value='3')
              td
                input(type='RADIO', name='stimulat', value='4')
              td
                input(type='RADIO', name='stimulat', value='5')
      hr
      p
      br
      br
      .row
        .col-sm-7.form-labels
          h6
            | Thank you for taking the Evaluation.  To submit the results, press the
            b Send
            |  button below.
            h6
        .col-sm-5
          button.btn.btn-primary(type='button', value='send-info') Send 
      p
      p
      hr
