extends ../layout

block content
  .container
    .row.sidebar
      nav.col-md-3.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column.mt-4
            li.nav-item.py-1
              a.nav-link.active(href='/employees')
                |                 Search: Employee
            li.nav-item
              a.nav-link.active(href='/departments')
                |                 Search: Department
      main.col-md-9.ml-sm-auto.px-4(role='main')
        .chartjs-size-monitor(style='position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: visible;visibility: visible; z-index: -1;')
          .chartjs-size-monitor-expand(style='position:absolute;left:0;top:0;right:0;bottom:0;overflow:visible;visibility:visible;')
        .justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.mt-3.mb-3 Department Management
        .row.mt-5
        .mb-3
          table.table#dptTable
            thead
              tr
                th(scope='col') Department Number
                th(scope='col') Name
                th(scope='col') Manager
            tbody
              each department in departments
                tr
                  td
                    a(href=`/departments/${department.dept_id}`) #{department.dept_id}
                  td #{department.dept_name}
                  td #{department.dept_manager}
          
          script.
            $(document).ready(function() {
                $('#dptTable').dataTable({
                    "columns": [
                    null,
                    null,
                    { 'orderable': false, 'searchable': false },
                    ]});
            });