extends ../layout

block content
  .container
    .py-5.text-center
      h2 Create project
      p
      p 1. Fill in all details
      p 2. Push the create button
   
      
    hr.featurette-divider
    .col-md-12
      h4.mb-3 Create project
      
        .mb-3
          label(for='Project ID') ID
          .input-group
            input.form-control(type='text', placeholder='project id ', name='id')
        .mb-3
          label(for='Project name') Project Name
          .input-group
            input#password.form-control(type='text', placeholder='project name', name='project name')
        .mb-3
          label(for='start_date') Start_Date
          .input-group
            input#password-confirmed.form-control(type='text', placeholder='start_date', name='start_date')
        .mb-3
          label(for='end_date') End_Date
          .input-group
            input#password-confirmed.form-control(type='text', placeholder='end_date', name='end_date')
        .mb-3
          label(for='pm_number') PM_Number
          .input-group
            input#password.form-control(type='text', placeholder='pm number', name='PM_number')
        .mb-3
          label(for='order id') Order_ID
          .input-group
            input.form-control(type='text', placeholder='order Id', name='id')

       
        hr.mb-4
        button.btn.btn-primary.btn-lg.btn-block(type='submit') create