extends ../layout

block content
  .container.form-signup
    .py-5.text-center
      h2 Register
      p
      p.lead Please read the following before registering.
      p
      p 1. Employee numbers are assigned at random.
      p 2. Please fill in all details.
    hr.featurette-divider
    .col-md-12
      h4.mb-3 Account
      form.needs-validation(action='/users', method='POST')
        .mb-3
          label(for='username') ID
          .input-group
            input.form-control(type='text', placeholder='User Id', name='id')
        .mb-3
          label(for='password') Password
          .input-group
            input#password.form-control(type='password', placeholder='Password', name='password')
        .mb-3
          label(for='password-confirmed') Password-Confirmed
          .input-group
            input#password-confirmed.form-control(type='text', placeholder='Password-Confirmed', name='password_confirmed')
        .mb-3
          label(for='employee_number') Employee number
          .input-group
            input#password.form-control(type='text', placeholder='Employee Number', name='employee_number')
        p  
        hr.featurette-divider
        h4.mb-3 Profile
        .row
          .col-md-6.mb-3
            label(for='name') Name
            input#name.form-control(type='text', placeholder='Jean', name='name')
        .mb-3
          label(for='rrn') RRN
          input#rrn.form-control(type='text', placeholder='Need to reconfirm... fixing', name='rrn')
          .col-md-6.mb-3
        .mb-3
          label(for='department') Department
            .col-md-6.mb-3
            select#departmentSelect.custom-select
              option(selected='') Select your Department
              option(value='01') Development
              option(value='02') Marketing
              option(value='03') Research
              option(value='04') Administrative
        .mb-3.mt-3
          label(for='gender') Gender
          p
          input#man(name='gender', value='m', type='radio')
          |  Man &emsp;&emsp;&emsp;
          input#woman(name='gender', value='f', type='radio')
          |  Woman
          h6  
        .mb-3
          label(for='rrn') Final Education
          input#final-education.form-control(type='text', name='final_education', placeholder='Graduated from Myongji University, Data Technology Track')
        .mb-3
          label(for='email')
            | Email 
            span.text-muted (Optional)
          input#email.form-control(type='email', name='email',placeholder='you@example.com')
          .invalid-feedback
            | Please enter a valid email address for shipping updates.
        .mb-3
          label(for='address2') Phone Number
          input#phone-number.form-control(type='text', placeholder='eg. 01012345678', name='phone_number')
        hr.mb-4
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Register
