extends ../layout

block content
  .container
        h5.mt-2.mb-2 SKILL
        table.table 
          thead
            tr
              th(scope="col") NAME
              th(scope="col") LEVEL
              th(scope="col") DEL
          tbody
            each skill in skills
              tr
                td= skill.skill_name
                td= skill.skill_rank  
                td
                    a.btn.btn-danger.btn-sm(href=`/useres/${currentUser.employee_number}?_method=delete` onclick='return confirm("Do you want to delete this skill?");') Delete
        a(href=`/users/${currentUser.employee_number}/newSkills`)
            button(type="button") New Skills